body{
            margin:0px;
        }
        #hero{
            background-color:maroon; 
            color:white;
             padding:50px;
        }
        .sec-title{
            text-align:center;
        }
        #about-box{
            display:flex;
             padding:0px 50px; 
             gap:30px;
        }
        #about-text-box{
             width:50%;
        }
        #about-image-box{
            width:50%;
        }
        #about-image{
            width:100%;
        }
        .service-box{
            width:33.33%;
        }
        .services-box{
            display:flex;
            padding:0px 40px;
            gap:30px;
        }
        .service-image{
            width:100%;
        }
        